{
  "openapi": "3.1.0",
  "info": {
    "title": "jevidocs API",
    "version": "0.1.0",
    "description": "Public, read-only endpoints of the jevidocs API: projects, page trees, rendered pages, search and llms.txt."
  },
  "servers": [
    {
      "url": "https://api.jevidocs.jevido.app",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Projects",
      "description": "Documentation projects and their page trees."
    },
    {
      "name": "Pages",
      "description": "Rendered pages and search."
    },
    {
      "name": "LLMs",
      "description": "Plain-text views for language models."
    }
  ],
  "paths": {
    "/api/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Every public project.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{project}": {
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "Project slug",
          "schema": {
            "type": "string",
            "example": "jevidocs"
          }
        }
      ],
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "getProject",
        "summary": "Get a project and its page tree",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Project"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "tree": {
                          "$ref": "#/components/schemas/PageTree"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/projects/{project}/page": {
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "Project slug",
          "schema": {
            "type": "string",
            "example": "jevidocs"
          }
        }
      ],
      "get": {
        "tags": [
          "Pages"
        ],
        "operationId": "getPage",
        "summary": "Get a rendered page",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "description": "Page slug; empty for the index page",
            "schema": {
              "type": "string",
              "example": "quick-start"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/projects/{project}/search": {
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "Project slug",
          "schema": {
            "type": "string",
            "example": "jevidocs"
          }
        }
      ],
      "get": {
        "tags": [
          "Pages"
        ],
        "operationId": "search",
        "summary": "Search a project",
        "description": "Full-text search; every word is prefix matched. Returns at most 20 results.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search words",
            "schema": {
              "type": "string",
              "example": "install"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchResult"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/projects/{project}/page.md": {
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "Project slug",
          "schema": {
            "type": "string",
            "example": "jevidocs"
          }
        }
      ],
      "get": {
        "tags": [
          "LLMs"
        ],
        "operationId": "getPageMarkdown",
        "summary": "Get one page as Markdown",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "description": "Page slug; empty for the index page",
            "schema": {
              "type": "string",
              "example": "quick-start"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The page's Markdown with its title",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/projects/{project}/llms.txt": {
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "Project slug",
          "schema": {
            "type": "string",
            "example": "jevidocs"
          }
        }
      ],
      "get": {
        "tags": [
          "LLMs"
        ],
        "operationId": "getLlmsTxt",
        "summary": "Get llms.txt",
        "responses": {
          "200": {
            "description": "An index of the project's pages",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/projects/{project}/llms-full.txt": {
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "Project slug",
          "schema": {
            "type": "string",
            "example": "jevidocs"
          }
        }
      ],
      "get": {
        "tags": [
          "LLMs"
        ],
        "operationId": "getLlmsFullTxt",
        "summary": "Get llms-full.txt",
        "responses": {
          "200": {
            "description": "Every page's Markdown in reading order",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Link": {
        "type": "object",
        "required": [
          "text",
          "url"
        ],
        "properties": {
          "text": {
            "type": "string",
            "example": "Docs"
          },
          "url": {
            "type": "string",
            "example": "/docs"
          }
        }
      },
      "Project": {
        "type": "object",
        "required": [
          "slug",
          "name"
        ],
        "properties": {
          "slug": {
            "type": "string",
            "example": "jevidocs"
          },
          "name": {
            "type": "string",
            "example": "jevidocs"
          },
          "description": {
            "type": "string"
          },
          "github_url": {
            "type": "string",
            "format": "uri"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "public": {
            "type": "boolean"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TreeNode": {
        "type": "object",
        "required": [
          "type",
          "name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "page",
              "folder",
              "separator"
            ]
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "defaultOpen": {
            "type": "boolean"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TreeNode"
            }
          }
        }
      },
      "PageTree": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TreeNode"
            }
          }
        }
      },
      "TocItem": {
        "type": "object",
        "properties": {
          "depth": {
            "type": "integer",
            "example": 2
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "example": "#install"
          }
        }
      },
      "PageLink": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "Page": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "html": {
            "type": "string",
            "description": "Rendered body"
          },
          "toc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TocItem"
            }
          },
          "breadcrumbs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                }
              }
            }
          },
          "previous": {
            "$ref": "#/components/schemas/PageLink"
          },
          "next": {
            "$ref": "#/components/schemas/PageLink"
          },
          "markdown": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "page",
              "heading"
            ]
          },
          "slug": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "page_title": {
            "type": "string"
          },
          "snippet": {
            "type": "string",
            "description": "HTML with matches in <mark>"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "not found"
          }
        }
      }
    },
    "responses": {
      "NotFound": {
        "description": "The project or page does not exist",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
